<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WhereAreWe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WhereAreWe.Properties.Settings>
            <setting name="DefaultMapSize" serializeAs="String">
                <value>18, 18</value>
            </setting>
            <setting name="DefaultGridBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultGridLines" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="DefaultSquareSize" serializeAs="String">
                <value>16, 16</value>
            </setting>
            <setting name="ActionWheelUp" serializeAs="String">
                <value>RotateIconCW</value>
            </setting>
            <setting name="ActionWheelDown" serializeAs="String">
                <value>RotateIconCCW</value>
            </setting>
            <setting name="MaxSquareSize" serializeAs="String">
                <value>64, 64</value>
            </setting>
            <setting name="MinSquareSize" serializeAs="String">
                <value>3, 3</value>
            </setting>
            <setting name="ActionRightMouse" serializeAs="String">
                <value>ScrollSheet</value>
            </setting>
            <setting name="ActionLeftMouse" serializeAs="String">
                <value>Draw</value>
            </setting>
            <setting name="ActionMiddleMouse" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActionX1Mouse" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActionX2Mouse" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ScrollStyle" serializeAs="String">
                <value>Drag</value>
            </setting>
            <setting name="DefaultFilledSquare" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="DefaultSolidLine" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultLineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultGridLineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxUndoActions" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SheetWraparound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZoomLineScale" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ZoomScale" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultOrigin" serializeAs="String">
                <value>UpperLeft</value>
            </setting>
            <setting name="DefaultGridOffset" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DefaultGridBackgroundStyle" serializeAs="String">
                <value>Percent90</value>
            </setting>
            <setting name="DefaultZoom" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="NoteTemplates" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>?	Possible Encounter</string>
                        <string>E	Forced Encounter</string>
                        <string>E	Forced Encounter with $uniqueEncounterMonsters</string>
                        <string>E	Forced Encounter with $allEncounterMonsters</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Game" serializeAs="String">
                <value>MightAndMagic1</value>
            </setting>
            <setting name="ReadLocationFromGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSwitchSheets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YouAreHereOpacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EnableMemoryWrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideUnvisitedSquares" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysRevealEdges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadOnlyMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadOnlyNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FollowCharWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEncounters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSpells" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DOSBoxPosition" serializeAs="String">
                <value>-32767, -32767</value>
            </setting>
            <setting name="EnableGlobalShortcuts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkVisitedProperly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEncounterWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTreasureWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMode" serializeAs="String">
                <value>Play</value>
            </setting>
            <setting name="MaxHPOnLevelUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnapWindowsToDOSBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLaunchGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TreasureOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableCheats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PollTime" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="UnvisitedSquareOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AutoShowNoteAtLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterOpacity" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="MonsterPositionTimer" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ShowMonstersOnMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SingleTaskbarWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowShopInventories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FocusDOSBoxWhenSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveFile" serializeAs="String">
                <value>%TEMP%\WhereAreWe-autosave.waw</value>
            </setting>
            <setting name="UseInGameCartography" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InventoryOrientation" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowActiveSquares" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowActiveEncountersOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DosBoxProcessName" serializeAs="String">
                <value>dosbox</value>
            </setting>
            <setting name="RevealAdjacentInaccessible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CureAllHPWithConditions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DosBoxWindowRect" serializeAs="String">
                <value>0, 0, 968, 646</value>
            </setting>
            <setting name="ForceDosBoxLocation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDeadMonsters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowUnvisitedNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyLocationFormat" serializeAs="String">
                <value>({Title}: {x},{y})</value>
            </setting>
            <setting name="ScriptsDumpFile" serializeAs="String">
                <value>%TEMP%\WAW_Scripts.txt</value>
            </setting>
            <setting name="QuestShowGiver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuestShowReward" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuestShowInfoPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuestBoldNearby" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfferToSwitchBooks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DosBoxProcessName2" serializeAs="String">
                <value>dosbox_debug</value>
            </setting>
            <setting name="QuickScanDOSBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideInvalidQuestGoals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnMultipleReacquire" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOnlyDetectableMonsters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceDosBoxSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowActivatedMonstersIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowListMonstersUnexplored" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCartWhenInaccessibleRevealed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideScriptMonsters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshDOSBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameStartDelay" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="WatchdogTimer" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="WizardRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedAutoArrange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CenterPartyInMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideScrollbarsInPlayMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxLineWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ShowGridLinesAboveZoom" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShowGridLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultGridLineStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditCopyBackgrounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditCopyInnerLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditCopyOuterLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditCopyIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditCopyNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSwitchToPlayMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActionCtrlWheelDown" serializeAs="String">
                <value>DecreaseSquareSize</value>
            </setting>
            <setting name="ActionCtrlWheelUp" serializeAs="String">
                <value>IncreaseSquareSize</value>
            </setting>
            <setting name="ActionShiftWheelDown" serializeAs="String">
                <value>PrevIcon</value>
            </setting>
            <setting name="ActionShiftWheelUp" serializeAs="String">
                <value>NextIcon</value>
            </setting>
            <setting name="ActionAltWheelDown" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActionAltWheelUp" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActionCtrlShiftWheelDown" serializeAs="String">
                <value>DecreaseSquareSizeFixed</value>
            </setting>
            <setting name="ActionCtrlShiftWheelUp" serializeAs="String">
                <value>IncreaseSquareSizeFixed</value>
            </setting>
            <setting name="ActionCtrlAltWheelDown" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActionCtrlAltWheelUp" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActionShiftAltWheelDown" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ActionShiftAltWheelUp" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RevealTeleports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideUnvisitedDottedLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BitmapCacheFull" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="BitmapCacheCrop" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="ShowMapLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugShowDirtySquares" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnIfMissingCustomBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GracefulShutdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PollQuests" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PollEncounters" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SaveDOSBoxPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ShowNotesPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeenSquareOpacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RevealSeenSquares" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemFormat" serializeAs="String">
                <value>$[Cursed] $[Broken] $[Name] ($[Why]), $[Type] $[DamAC], $[Equip], $[Use] [$[Charges]], $[Value]</value>
            </setting>
            <setting name="BagItemFormat" serializeAs="String">
                <value>$[Cursed] $[Broken] $[Name] ($[Why]), $[Type] $[DamAC], $[Equip], $[Use] [$[Charges]], $[Value]</value>
            </setting>
            <setting name="ShopItemFormat" serializeAs="String">
                <value>$[Cursed] $[Broken] $[Name] ($[Why]), $[Type] $[DamAC], $[Equip], $[Use] [$[Charges]], $[Value]</value>
            </setting>
            <setting name="EditItemFormat" serializeAs="String">
                <value>$[Cursed] $[Broken] $[Name] ($[Why]), $[Type] $[DamAC], $[Equip], $[Use] [$[Charges]], $[Value]</value>
            </setting>
            <setting name="WarnNonAdmin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DOSBoxClass" serializeAs="String">
                <value>^SDL_App$</value>
            </setting>
            <setting name="DOSBoxCaption" serializeAs="String">
                <value>^DOSBox [S0]</value>
            </setting>
            <setting name="SkipIntroductions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LinkedMinimizeAndRestore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipIntroTimingTweak" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HideUnidentifiedItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrainMaximizeHP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrainPreventStatLoss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoubleClickSpellSendsKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndicateNewInventoryItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrainMaximizeCreatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayReverseBitIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreZOrderList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxSPOnLevelUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartyQuickrefSplitPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutosaveSeconds" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="UseExtendedWindowRect" serializeAs="String">
                <value>True</value>
            </setting>
        </WhereAreWe.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
